{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "no-loops", "autofix"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-useless-catch": 0,
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 0 }],
    "no-empty-function": "off",
    "@typescript-eslint/no-empty-function": "off",

    // TODO Error
    "semi": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/no-unused-vars": "off", 
    "@typescript-eslint/no-non-null-assertion": "off",
    "no-loops/no-loops": "off",
    "eol-last": "off"
    // "eol-last": ["error", "always"],
  }
}
