{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "no-loops", "autofix"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-loops/no-loops": 2,
    "no-useless-catch": 0,
    "semi": "error",
    "eol-last": ["error", "always"],
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 0 }],
    "no-empty-function": "off",
    "@typescript-eslint/no-empty-function": "off",
    "react/react-in-jsx-scope": "off"
  }
}
